.logo
  overflow hidden
  height 300px
  Image
    width 100%
    margin-top -50px

.slogan
  border 1px dashed #000
  margin auto
  margin-top 15px
  width 96%
  Text
    padding 10px 20px
    display inline-block

.scrollview
  height calc(100vh - 50px)
  width 100%

.bottom
  text-align center
  Button
  Text
    color #404040
    font-size 24px